<!DOCTYPE html>
<html>
<head>
	<title>	Weight</title>
	<link rel="stylesheet" type="text/css" href="../static/weight.css">
	<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
		</script>
	
</head>
<body>
	<div class="container">	
		<span id="enter">Choose your weight</span>
		<span id="value" name="value"></span>
		<input type='range' min="0"  max="200" id="slider" />
		<button class="big-button" id="next_bt">Next</button>
	</div>
  <script type="text/javascript" src="../static/weight.js"></script>
</body>
</html>